@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	margin-left: calc(100vw - 100%);
	font-size: 17px;
}

html, body {
	min-height: 100%;
}

body {
	@apply font-body;
}

h1, h2, h3, h4, h5, h6 {
	@apply font-title;
}

strong {
	@apply font-semibold;
}

a {
	@apply px-1.5 -mx-1.5 py-px -my-px
	focus-visible:text-black focus-visible:no-underline focus-visible:ring-2 focus-visible:rounded focus-visible:outline-none ring-cyan-500;
}
